.boxx {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.89);
    border-radius: 3px;
    padding: 70px 100px;
    box-sizing: border-box;
    width: 410px;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("./Images/homework.png");
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: Trebuchet MS;
}

.box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.89);
    padding: 40px;
    box-sizing: border-box;
    width: 380px;
}

.box h2 {
    padding: 0 0 10px;
    margin: 0 0 40px;
    color: white;
    border-bottom: solid 1px gray;
    font-weight: lighter;
    text-align: center;
}

.box input {
    padding: 10px 0;
    margin-bottom: 20px;
}

.box input {
    width: 100%;
    outline: none;
    color: white;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    background: transparent;
    border-bottom: 1px solid white;
}

.box form div {
    position: relative;
}

.button-group button {
    cursor: pointer;
    color: white;
    background: #e74c3c;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    padding: 7px 7px;
    text-align: center;
    width: 45%;
    margin: 5px;
}

.box form div label {
    position: absolute;
    pointer-events: none;
    top: 10px;
    left: 0;
    transition: 0.5s;
    color: white;
}

.box input:focus~label,
.box input:valid~label {
    top: -12px;
    left: 0;
    color: lightgray;
    font-weight: normal;
}

.box input:focus,
.box input:valid {
    border-bottom: 2px solid #e74c3c;
}

#aggre {
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
    color: white;
    font-family: Trebuchet MS;
}

#go {
    font-weight: bold;
}

#aggre:before {
    content: " Note: Aggregate = 25% of your Matric Marks + 45% of your Fsc Marks + 30% of your ECAT marks";
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    display: block;
    text-align: center;
    color: white;
    margin-top: 20px;
}